.movies {
  max-width: 100%;
}

.moviesTitle {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
}

.moviesList {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: 0 auto;
  padding: 0;
}

@media only screen and (min-width: 568px) {
  .moviesTitle {
    text-align: left;
  }
}
