.app {
  text-align: center;
}

.appHeader {
  background-color: #065796;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.appTitle {
  color: #fff;
  font-size: 40px;
}
