.movie {
  list-style: none;
  position: relative;
  width: 342px;
  height: 513px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.movieInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 40%;
  z-index: 1;
  padding: 0 16px 8px 16px;
  background: #3c3f42;
  background: rgba(60, 63, 66, 0.8);
}

.movieTitle {
  font-size: 24px;
  color: #fff;
}

.moviePoster {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

dl {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

dt {
  color: #fff;
  font-weight: 700;
}

dd {
  color: #fff;
  text-align: left;
}
